@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

button {
  cursor: pointer;
}

@layer components {
  .button {
    @apply
      inline-flex items-center gap-2 rounded-md px-3 py-1.5
      dark:data-focus:outline-white/25 data-focus:outline-slate-900
  }

  .button--solid {
    @apply
      bg-slate-800 text-slate-50
      dark:bg-slate-50 dark:text-slate-800
  }
}